/CommonSourceImages/SpringImage/settings.xml
/CommonSourceImages/SpringImage/id_rsa
/CommonSourceImages/PythonImage/id_rsa
/CommonSourceImages/NodeImage/.npmrc
/CommonSourceImages/NodeImage/id_rsa
**/.fastRequest
**/TEST*.xml
**/.DS_Store
**/Thumbs.db
*/.vscode/*
**/.build-*
**/.netlify
**/.output
**/target/
/Secrets/
*/*.log*
**/.cache
**/.idea
**/*.iml
**/*.app
**/*.exe
**/*.jar
**/*.log
**/*.mov
**/*.mp4
**/*.tmp
**/*.war
**/*.wmv
**/.tmp
**/dist
/.jpb
/tmp
