**/.fastRequest
**/TEST*.xml
**/.DS_Store
**/Thumbs.db
*/.vscode/*
**/.build-*
**/.netlify
**/.output
**/target/
*/*.log*
**/.cache
**/.idea
**/*.iml
**/*.app
**/*.exe
**/*.jar
**/*.log
**/*.mov
**/*.mp4
**/*.tmp
**/*.war
**/*.wmv
**/.tmp
**/dist
/.jpb
/tmp
