networks:
  srv_internal_network:
    external: true

services:
  business-ai:
    build:
      context: ../ApplicationBuilders/SpringApplicationNestedHome
      args:
        BRANCH: main
        JAVA_RELEASE: 23
        JAR_NAME: business-ai-service-1.5.1
        PROJECT_HOME: Services/Business/BusinessAiService
        REPOSITORY: git@bitbucket.org:eplatform/eplatform.git
    container_name: business-ai
    restart: always
    networks:
      srv_internal_network:
    volumes:
    - /etc/timezone:/etc/timezone:ro
    - /etc/localtime:/etc/localtime:ro
  business-ai-test:
    build:
      context: ../ApplicationBuilders/SpringApplicationNestedHome
      args:
        BRANCH: trunk
        JAVA_RELEASE: 23
        JAR_NAME: business-ai-service-1.5.1
        PROJECT_HOME: Services/Business/BusinessAiService
        REPOSITORY: git@bitbucket.org:eplatform/eplatform.git
    container_name: business-ai-test
    environment:
      SPRING_PROFILES_ACTIVE: test
    restart: always
    networks:
      srv_internal_network:
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  business-ai-processor:
    build:
      context: ../ApplicationBuilders/PythonApplication
      args:
        BRANCH: main
        SCRIPT_NAME: businessAiProcessing.py
        REPOSITORY: git@bitbucket.org:eplatform/businessaiprocessing.git
    container_name: business-ai-processor
    environment:
      PYTHONUNBUFFRED: 1
    restart: always
    networks:
      srv_internal_network:
    volumes:
    - /etc/timezone:/etc/timezone:ro
    - /etc/localtime:/etc/localtime:ro    
  business-ai-processor-test:
    build:
      context: ../ApplicationBuilders/PythonApplication
      args:
        BRANCH: trunk
        SCRIPT_NAME: businessAiProcessing.py
        REPOSITORY: git@bitbucket.org:eplatform/businessaiprocessing.git
    container_name: business-ai-processor-test
    environment:
      PYTHONUNBUFFRED: 1
      PYTHON_PROFILE: test
    restart: always
    networks:
      srv_internal_network:
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  business-ai-front:
    build:
      context: ../ApplicationBuilders/NodeApplication
      args:
        BRANCH: main
        REPOSITORY: git@bitbucket.org:eplatform/businessaifrontend.git
    container_name: business-ai-front
    environment:
      NUXT_SESSION_PASSWORD: 86dd85d2f1de41e598abe8e5e8de79ff
      NUXT_PUBLIC_PUBLICATION_HOST: https://business.t3t.online/
      NUXT_PUBLIC_BUSINESS_HOST: https://business.t3t.online/
      NUXT_PUBLIC_AUTH_HOST: https://business.t3t.online/
      NUXT_PUBLIC_AI_HOST: https://business.t3t.online/
      NUXT_PUBLIC_INNER_AUTH_HOST: http://auth-service:8080/
    restart: always
    networks:
      srv_internal_network:
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  business-ai-front-test:
    build:
      context: ../ApplicationBuilders/NodeApplication
      args:
        BRANCH: trunk
        REPOSITORY: git@bitbucket.org:eplatform/businessaifrontend.git
    container_name: business-ai-front-test
    environment:
      NUXT_SESSION_PASSWORD: 86dd85d2f1de41e598abe8e5e8de79ff
      NUXT_PUBLIC_PUBLICATION_HOST: https://business-test.t3t.online/
      NUXT_PUBLIC_BUSINESS_HOST: https://business-test.t3t.online/
      NUXT_PUBLIC_AUTH_HOST: https://business-test.t3t.online/
      NUXT_PUBLIC_AI_HOST: https://business-test.t3t.online/
      NUXT_PUBLIC_INNER_AUTH_HOST: http://auth-service:8080/
    restart: always
    networks:
      srv_internal_network:
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
