networks:
  srv_internal_network:
    external: true

services:
  business-ai:
    build:
      context: ../ApplicationBuilders/SpringApplication
      args:
        BRANCH: main
        JAVA_RELEASE: 23
        JAR_NAME: business-ai-service-1.5.1
        PROJECT_HOME: Services/Business/BusinessAiService
        REPOSITORY: git@bitbucket.org:eplatform/eplatform.git
    container_name: business-ai
    restart: always
    networks:
      srv_internal_network:
    volumes:
    - /etc/timezone:/etc/timezone:ro
    - /etc/localtime:/etc/localtime:ro
  business-ai-processor:
    build:
      context: ../ApplicationBuilders/PythonApplication
      args:
        BRANCH: main
        SCRIPT_NAME: businessAiProcessing.py
        REPOSITORY: git@bitbucket.org:eplatform/businessaiprocessing.git
    container_name: business-ai-processor
    environment:
      PYTHONUNBUFFRED: 1
    restart: always
    networks:
      srv_internal_network:
    volumes:
    - /etc/timezone:/etc/timezone:ro
    - /etc/localtime:/etc/localtime:ro    
  business-ai-front:
    build:
      context: ../ApplicationBuilders/NodeApplication
      args:
        BRANCH: main
        REPOSITORY: git@bitbucket.org:eplatform/businessaifrontend.git
    container_name: business-ai-front
    environment:
      NUXT_SESSION_PASSWORD: 86dd85d2f1de41e598abe8e5e8de79ff
      NUXT_APP_PUBLICATION_HOST: https://business.t3t.online/
      NUXT_APP_BUSINESS_HOST: https://business.t3t.online/
      NUXT_APP_AUTH_HOST: https://business.t3t.online/
      NUXT_AUTH_HOST: https://business.t3t.online/
    restart: always
    networks:
      srv_internal_network:
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
  business-ai-one-c:
    build:
      context: ../ApplicationBuilders/SpringApplication
      args:
        BRANCH: main
        JAVA_RELEASE: 23
        JAR_NAME: business-1c-integration-1.5.1
        PROJECT_HOME: Services/Business/Business1cIntegration
        REPOSITORY: git@bitbucket.org:eplatform/business1cintegrationservice.git
    container_name: business-one-c
    restart: always
    networks:
      srv_internal_network:
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
